<br>
<div id="prayerTimer" class="prayerTimer">Prayer Time (Minutes)</div>
<form>
    <div>
        <input type="radio" id="2" name="minutesToPray" value="2">
        <label for="2">2</label>

        <input type="radio" id="5" name="minutesToPray" value="5">
        <label for="5">5</label>
    
        <input type="radio" id="10" name="minutesToPray" value="10">
        <label for="10">10</label>

        <input type="radio" id="15" name="minutesToPray" value="15">
        <label for="15">15</label>

        <input type="radio" id="20" name="minutesToPray" value="20">
        <label for="20">20</label>
        
        <input type="radio" id="30" name="minutesToPray" value="30">
        <label for="30">30</label>

        <input type="radio" id="45" name="minutesToPray" value="45">
        <label for="45">45</label>

        <input type="radio" id="60" name="minutesToPray" value="60">
        <label for="60">60</label>

    </div>
</form>
<button id="prayerTimerButton" class="prayerTimerStartButton" onclick="startTimer()">Start Prayer Timer</button>&nbsp;&nbsp;
<button id="prayerClearTimerButton" class="prayerTimerClearButton" onclick="clearTimer()">Clear Prayer Timer</button> 
<br>
