<!-- Get the number of data files from the data folder -->
{{ $requestCategories := int (len $.Site.Data.prayerrequests)}}

<!-- Get a random count to be used to subtract from the data file array length -->
{{ $diffcount := int (index (seq $requestCategories | shuffle) 0) }}

<!-- Get the $aftervalue obtained from subtracting the $requestCategories from the $diffcount. This is used to form what data is rendered:<br> -->
{{ $aftervalue := sub $requestCategories $diffcount }}

{{ $weekDay := now.Weekday }}
<div class="todaysRequests">
    <h3>Today's Requests</h3>
        {{ if eq $weekDay.String "Sunday" }}
            {{ range first 3 (after 0 $.Site.Data.prayerrequests) }}
                <strong>{{ .category  | safeHTML }}</strong>:<br>
                {{ .request | safeHTML }}
                <br><br>
            {{ end }}
        {{ else if eq $weekDay.String "Monday" }}
            {{ range first 3 (after 3 $.Site.Data.prayerrequests) }}
                <strong>{{ .category  | safeHTML }}</strong>:<br>
                {{ .request | safeHTML }}
                <br><br>
            {{ end }}
        {{ else if eq $weekDay.String "Tuesday" }}
            {{ range first 3 (after 6 $.Site.Data.prayerrequests) }}
                <strong>{{ .category  | safeHTML }}</strong>:<br>
                {{ .request | safeHTML }}
                <br><br>
            {{ end }}
        {{ else if eq $weekDay.String "Wednesday" }}
            {{ range first 3 (after 9 $.Site.Data.prayerrequests) }}
                <strong>{{ .category  | safeHTML }}</strong>:<br>
                {{ .request | safeHTML }}
                <br><br>
            {{ end }}
        {{ else if eq $weekDay.String "Thursday" }}
            {{ range first 3 (after $aftervalue $.Site.Data.prayerrequests) }}
                <strong>{{ .category  | safeHTML }}</strong>:<br>
                {{ .request | safeHTML }}
                <br><br>
            {{ end }}
        {{ else if eq $weekDay.String "Friday" }}
            {{ range first 3 (after $aftervalue $.Site.Data.prayerrequests) }}
                <strong>{{ .category  | safeHTML }}</strong>:<br>
                {{ .request | safeHTML }}
                <br><br>
            {{ end }}
        {{ else if eq $weekDay.String "Saturday" }}
            {{ range first 3 (after $aftervalue $.Site.Data.prayerrequests) }}
                <strong>{{ .category  | safeHTML }}</strong>:<br>
                {{ .request | safeHTML }}
                <br><br>
            {{ end }}
        {{ end }}
    </div> 
<br>
